html{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input,button, textarea, p, blockquote, th, td, hr{margin: 0; padding: 0; -webkit-box-sizing: border-box;}
body{font-family: "Microsoft YaHei"; font-size: 14px; line-height: 1.5; overflow-x: hidden; -webkit-overflow-scrolling: touch;}
html, body{height: 100%;position: relative;background-color: #fff;}
a{background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent !important;}
a:active{outline: 0;}
b, strong{font-weight: bold;}
sub, sup{font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup{top: -0.5em;}
sub{bottom: -0.25em;}
img{border: 0;display: block;}
hr{box-sizing: content-box; height: 0;}
button, input, select, textarea{color: inherit; font: inherit; margin: 0;}
button{overflow: visible;}
button, select{text-transform: none;}
button, html input[type="button"], input[type="reset"], input[type="submit"]{-webkit-appearance: button; cursor: pointer;}
button[disabled], html input[disabled]{cursor: default;}
input{line-height: normal;}
input[type="checkbox"], input[type="radio"]{box-sizing: border-box; padding: 0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{height: auto;}
input[type="search"]{-webkit-appearance: textfield; -webkit-box-sizing: border-box; box-sizing: border-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #ccc;}
textarea{overflow: auto; resize: vertical;}
table{border-collapse: collapse; border-spacing: 0;}
td, th{padding: 0;}
ul, ol{list-style: none outside none;}
h1, h2, h3 {line-height: 2; font-weight: normal;}
h1{font-size: 18px;}
h2{font-size: 16px;}
h3{ font-size: 14px;}
.hide{display:none;}
.fl{float: left;}
.fr{float: right;}
/*清除浮动*/
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/*login样式*/
.body_login{background-image: url(../image/bg/bg.png);background-position: center;background-size: 100% 100%;position: relative;}
.login_main{margin: auto;width: 350px;text-align: center;height: 260px;border-radius:3px;background-color: #fff;border:3px solid #157fcc;position: absolute;top:50%;left: 50%;margin-left:-175px;margin-top: -200px; }
.header_login{background-color: #157fcc; height:55px;padding-left: 30px;padding-top: 5px;}
.header_login .logo{display:inline-block;margin: auto;float: left;}
.header_login .logo img{width: 33px; height: 35px;margin-top: 4px;}
.header_login .name{color: #fff;line-height: 24px;float: left;margin-left: 15px;}
.footer_login{color: #999;  font-size:12px;}
.header_login .name_cn {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #534d48;
    letter-spacing: 5px;
}
.header_login .name_en {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
    text-shadow: 1px 1px 2px #534d48;
}
.container_login{width: 85%;margin: auto;padding: 17px 0 20px;}
.container_login ul li{margin-bottom:13px;position: relative; }
.container_login ul li .errorInfo{position: absolute;width: 100%;text-align: center;
    font-size:12px;bottom: -22px;left: 0;color: red;}
.container_login ul li:nth-child(2){margin-bottom:20px; }
.container_login ul li input{height: 30px;line-height: 30px;width: 100%;border-radius: 3px;background-color: #fff;border:1px solid #a0a0a0;padding: 0px 15px;}
.container_login ul li input.btn-warning{background-color: #157fcc;color: #fff;}








